PlatoWeb/App_WebReferences/SRContactenos/WSContactenos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AutenticacionUsuario">
        <s:complexType />
      </s:element>
      <s:element name="AutenticacionUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AutenticacionUsuarioResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="clsSeguridadContactenos" type="tns:clsSeguridadContactenos" />
      <s:complexType name="clsSeguridadContactenos">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="stToken" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AutenticacionToken" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="contactenos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="apellido" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="correo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="telefono" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mensaje" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="contactenosResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AutenticacionUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:AutenticacionUsuario" />
  </wsdl:message>
  <wsdl:message name="AutenticacionUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:AutenticacionUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="AutenticacionUsuarioclsSeguridadContactenos">
    <wsdl:part name="clsSeguridadContactenos" element="tns:clsSeguridadContactenos" />
  </wsdl:message>
  <wsdl:message name="contactenosSoapIn">
    <wsdl:part name="parameters" element="tns:contactenos" />
  </wsdl:message>
  <wsdl:message name="contactenosSoapOut">
    <wsdl:part name="parameters" element="tns:contactenosResponse" />
  </wsdl:message>
  <wsdl:message name="contactenosclsSeguridadContactenos">
    <wsdl:part name="clsSeguridadContactenos" element="tns:clsSeguridadContactenos" />
  </wsdl:message>
  <wsdl:portType name="WSContactenosSoap">
    <wsdl:operation name="AutenticacionUsuario">
      <wsdl:input message="tns:AutenticacionUsuarioSoapIn" />
      <wsdl:output message="tns:AutenticacionUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="contactenos">
      <wsdl:input message="tns:contactenosSoapIn" />
      <wsdl:output message="tns:contactenosSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSContactenosSoap" type="tns:WSContactenosSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AutenticacionUsuario">
      <soap:operation soapAction="http://tempuri.org/AutenticacionUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:AutenticacionUsuarioclsSeguridadContactenos" part="clsSeguridadContactenos" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="contactenos">
      <soap:operation soapAction="http://tempuri.org/contactenos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:contactenosclsSeguridadContactenos" part="clsSeguridadContactenos" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSContactenosSoap12" type="tns:WSContactenosSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AutenticacionUsuario">
      <soap12:operation soapAction="http://tempuri.org/AutenticacionUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:AutenticacionUsuarioclsSeguridadContactenos" part="clsSeguridadContactenos" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="contactenos">
      <soap12:operation soapAction="http://tempuri.org/contactenos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:contactenosclsSeguridadContactenos" part="clsSeguridadContactenos" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSContactenos">
    <wsdl:port name="WSContactenosSoap" binding="tns:WSContactenosSoap">
      <soap:address location="http://colegio-leon.ddns.net/WebServices/WSContactenos.asmx" />
    </wsdl:port>
    <wsdl:port name="WSContactenosSoap12" binding="tns:WSContactenosSoap12">
      <soap12:address location="http://colegio-leon.ddns.net/WebServices/WSContactenos.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>